In [21]:
import pandas as pd
import json
from pandas.io.json import json_normalize

In [9]:
with open('congress_data.txt') as f:
    json_string = f.read()

In [28]:
parsed_json = json.loads(json_string)
parsed_json = json_normalize(parsed_json['results'])

In [31]:
parsed_json

    count  percentage     total  year
0    2290    0.010505  21799916  1996
1    2716    0.011318  23997006  1997
2    2542    0.010861  23403943  1998
3    3891    0.015293  25443659  1999
4    2538    0.010574  24002468  2000
5    2025    0.008444  23981155  2001
6    2780    0.012154  22873558  2002
7    2804    0.010210  27462812  2003
8    2899    0.012418  23346083  2004
9    3414    0.012323  27703478  2005
10   3246    0.013803  23516149  2006
11   5248    0.015655  33522062  2007
12   4652    0.016450  28279993  2008
13   6080    0.032579  18662048  2009
14   3315    0.014778  22431238  2010
15   2099    0.010088  20806450  2011
16   2019    0.013585  14861605  2012
17   2052    0.012193  16829106  2013
18   2365    0.018156  13026007  2014
19   2774    0.020838  13312127  2015

In [32]:
parsed_json['count'].values

array([2290, 2716, 2542, 3891, 2538, 2025, 2780, 2804, 2899, 3414, 3246,
       5248, 4652, 6080, 3315, 2099, 2019, 2052, 2365, 2774])

In [33]:
df = parsed_json[['year', 'percentage']]

In [38]:
df.to_csv('wednesday_xy.tsv', sep='\t', index=False)