# Challenge Set 7 SQL

Topic: Learn SQL

Date: 02/06/2016

Name: Kenneth Myers

Worked with: NA

## Challenge 1

What customers are from the UK?

    SELECT 
        * 
    FROM 
        Customers 
    WHERE 
        Country = 'UK';

## Challenge 2

What is the name of the customer who has the most orders?

    SELECT 
        CustomerName, 
        Orders.CustomerID, 
        COUNT(*) AS NumOrders 
    FROM 
        Orders 
      JOIN 
        Customers 
      ON 
        Customers.CustomerID = Orders.CustomerID 
    Group By 
        Orders.CustomerID 
    ORDER BY 
        NumOrders 
    DESC;

Ernst Handel

## Challenge 3

What supplier has the highest average product price?

    SELECT 
        SupplierName, 
        Products.SupplierID, 
        AVG(Price) AS AvgPrice 
    FROM 
        Suppliers 
      JOIN 
        Products 
      ON 
        Products.SupplierID = Suppliers.SupplierID 
    Group By 
        Products.SupplierID 
    ORDER BY 
        AvgPrice
    DESC;

Aux joyeux ecclÃ©siastiques

## Challenge 4

How many different countries are their customers from? (Hint: Consider DISTINCT.)

    SELECT 
        COUNT(DISTINCT Country) 
    FROM 
        Customers

21

## Challenge 5

What category appears in the most orders?

    SELECT
        Categories.CategoryName,
        x.CategoryID,
        x.CatCount
    From
        (SELECT   
            Products.CategoryID,
            Count(*) AS CatCount
        FROM 
            Products
          JOIN 
            OrderDetails
          ON 
            Products.ProductID = OrderDetails.ProductID 
        GROUP BY
            Products.CategoryID) x
    JOIN
        Categories
      ON
        x.CategoryID = Categories.CategoryID
    ORDER BY
        x.CatCount
    DESC
    LIMIT
        1

Dairy Products

## Challenge 6

What was the total cost for each order?

    SELECT 
        OrderDetails.OrderID, 
        SUM(Products.Price*OrderDetails.Quantity) AS OrderPriceTotal 
    FROM 
        Products 
    JOIN 
        OrderDetails 
      ON 
        OrderDetails.ProductID = Products.ProductID 
    GROUP BY 
        OrderDetails.OrderID

## Challenge 7

What employee made the most sales (by total cost)?

    SELECT
        LastName, 
        FirstName, 
        y.TotalCost as TotalCost
    FROM 
        (SELECT 
            EmployeeID, 
            x.TotalCost 
         FROM 
             (SELECT
                 OrderID, 
                 Sum(Price*Quantity) AS TotalCost 
              FROM 
                  Products 
              JOIN 
                  OrderDetails 
                ON 
                  Products.ProductID = OrderDetails.ProductID 
              GROUP BY 
                  OrderID 
              ORDER BY 
                  TotalCost 
              DESC 
              LIMIT 
                  1) x 
        JOIN 
            Orders 
          ON 
            Orders.OrderID=x.OrderID) y 
    JOIN 
        Employees 
      ON 
        y.EmployeeID=Employees.EmployeeID

Steve Buchanan

## Challenge 8

What employees have BS degrees? (Hint: Look at the LIKE operator.)

    SELECT 
        LastName,
        FirstName, 
        Notes 
    From 
        Employees 
    WHERE 
        Notes Like '%BS%'

Janet Leverling, Steven Buchanan

## Challenge 9

What supplier of three or more products has the highest average product price? (Hint: Look at the HAVING operator.)

    SELECT 
        SupplierName, 
        x.avgprice 
    FROM 
        (SELECT 
             SupplierID, 
             count(SupplierID) as numProducts, 
             AVG(Price) as avgprice 
         From 
             Products 
         GROUP BY 
             SupplierID 
           HAVING 
             numProducts>2) x 
    JOIN 
        Suppliers 
      ON 
        Suppliers.SupplierID=x.SupplierID 
    ORDER BY 
        x.avgprice 
    DESC

Tokyo Traders